.App {
  text-align: center;
  color: rgb(236, 14, 121);
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background-color: rgb(24, 94, 193);
  color: whitesmoke;
}

.nav-links {
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.fetch-api {
  margin-top: 100px;
}

.recipes-page {
  background-color: blueviolet;
  color: black;
}

.about-page {
  background-color: blueviolet;
  color: black;
}

.contact-page {
  background-color: blueviolet;
  color: black;
}

.api-btn {
  background-color: yellow;
}

.blog-card {
  justify-content: center;
  border: 2px solid rgb(246, 255, 0);
  background-color: rgb(144, 0, 255);
}

.blog-img {
  height: 250px;
  width: 250px;
}